@import url("https://fonts.google.com/share?selection.family=Playfair%20Display");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");



* {
    margin: 10px;
}

main {
    background-color: rgba(242, 242, 221, 0.264);
    padding: 10px;
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

footer {
    background-color: rgb(171, 171, 171);
    font-weight: 700;
    padding: 10px;
}

.div-funcion {
    margin: 30px;
    padding: 30px;
    text-align: center;
}

ul li {
    list-style: none;
}

header{
    padding-bottom: 100px;
    display: flex ;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.cont-img{
    width: 120px;
    margin: 10px;
    padding: 10px;
}